*{
    font-size: 14px;
    color: #1d1d1d;
    font-weight: lighter;
}
body{
    margin:0;
    padding:0;
    background-color: #1d1d1d;
}
div{
    position: relative;
    float: left;
    border:0px solid red;
}

table{
    width:80%;
    margin-left:10%;
    border:1px solid lightgray;
    border-collapse: collapse;
    line-height: 28px;
}
table tr , table td ,table th{
    border:1px solid lightgray;
    text-align: center;
}
.btn{
    border:1px solid lightgray;
    font-size: 12px;
}
.left{
    text-align: left;
    padding-left:4px;
}
.center{
    text-align: center;
}
.right8{
    text-align: right;
    margin-right:8px;
}
.border_test{
    border:1px solid red;
}
.w14{
    width:14%;
}
.w20{
    width:20%;
}
.h96{
    height:96px;
    line-height: 96px;
}
.h88{
    height:88px;
    line-height: 88px;
}
.h64{
    height:64px;
    line-height: 64px;
}
.h56{
    height:56px;
    line-height: 56px;
}
.h32{
    height:32px;
    line-height: 32px;
}
.h24{
    height:24px;
    line-height: 24px;
}